SECRET_KEY=generate-a-new-one-see-readme
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=elysian_db
DB_USER=elysian_user
DB_PASSWORD=elysian_password
CORS_ALLOWED_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api
